:root {
  /* colores */
  --primary: #008037;
  --secondary: #1d2834;
  --tertiary: #f9d939;
}

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--primary);
  color: #fff;
  padding: 1.5rem 0;
  text-align: center;
}
header > h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Pacifico", cursive;
  letter-spacing: 0.3rem;
}
header > p {
  margin: 0.5rem 0 0;
  font-family: "Tsukimi Rounded", sans-serif;
}
header > p > span {
  color: var(--tertiary);
}

main {
  text-align: center;
}
main > p {
  padding: 10vh 16vw;
  text-align: justify;
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  line-height: 2;
}

footer {
  background-color: var(--secondary);
  color: #fff;
  padding: 1rem;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
ul > li {
  margin: 0.5rem;
}
a {
  color: var(--tertiary);
  text-decoration: none;
  font-size: 1rem;
  font-family: "Dosis", sans-serif;
}
